### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# IDE 및 편집기 파일
.idea/
*.iml

# 빌드 파일
build/
dist/

# 시스템 파일
Thumbs.db

# Flutter 관련 파일
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache
.pub/

# 캐시 파일
*.log
.cache/
filecache/

# 환경 설정 파일
*.env
.env.*
